@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;700&display=swap');

//main color

$main-red: #EE5F6F;
$main-white: #EEEFD8;
$main-green: #D5E657;
$main-blue: #80C0D8;
$main-black: #7C6D64;

html{
    scroll-behavior: smooth;
}

body{
    margin-top: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}

//bootstrap拡張

.jumbotron{
    margin-bottom: 0 !important;
}

.bg-main-blue{
    background-color: $main-blue;
}

.bg-main-white{
    background-color: $main-white;
}

.font-bold{
    font-weight: bold;
}

//その他
.text{
    line-height: 2;
    letter-spacing: 0.2em;
}

.main-title{
    position: relative;
    padding: 0 65px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.main-title::before{
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000;
}

.main-span-main-white{
    position: relative;
    padding: 0 1em;
    background:$main-white;
}

.main-span-white{
    position: relative;
    padding: 0 1em;
    background: white;
}

.title-left{
    padding: 1rem 2rem;
    border-left: 6px double $main-green;  
}

.img-square{
    width: 100%;
    height: 300px;
    height: width;
    object-fit: cover;
}